.ghp-icon
  position relative 1px 0 0 0
  width 14px
  height 14px
  background-size cover
  display block

  & + svg
    display none

.icon
  &-actionscript
    background-image url("./images/file_type_actionscript.png")
  &-ai
    background-image url("./images/file_type_ai.png")
  &-angular
    background-image url("./images/file_type_angular.png")
  &-applescript
    background-image url("./images/file_type_applescript.png")
  &-archvie
    background-image url("./images/file_type_archive.png")
  &-babel
    background-image url("./images/file_type_babel.png")
  &-binary
    background-image url("./images/file_type_binary.png")
  &-blade
    background-image url("./images/file_type_blade.png")
  &-bower
    background-image url("./images/file_type_bower.png")
  &-c
    background-image url("./images/file_type_c.png")
  &-cf
    background-image url("./images/file_type_cf.png")
  &-circleci
    background-image url("./images/file_type_circleci.png")
  &-clojure
    background-image url("./images/file_type_clojure.png")
  &-coffeescript
    background-image url("./images/file_type_coffeescript.png")
  &-composer
    background-image url("./images/file_type_composer.png")
  &-cpp
    background-image url("./images/file_type_cpp.png")
  &-csharp
    background-image url("./images/file_type_csharp.png")
  &-css
    background-image url("./images/file_type_css.png")
  &-csv
    background-image url("./images/file_type_csv.png")
  &-default
    background-image url("./images/file_type_default.png")
  &-dlang
    background-image url("./images/file_type_dlang.png")
  &-docker
    background-image url("./images/file_type_docker.png")
  &-dotnet
    background-image url("./images/file_type_dotnet.png")
  &-editorconfig
    background-image url("./images/file_type_editorconfig.png")
  &-elm
    background-image url("./images/file_type_elm.png")
  &-erlang
    background-image url("./images/file_type_erlang.png")
  &-eslint
    background-image url("./images/file_type_eslint.png")
  &-ex
    background-image url("./images/file_type_ex.png")
  &-font
    background-image url("./images/file_type_font.png")
  &-git
    background-image url("./images/file_type_git.png")
  &-go
    background-image url("./images/file_type_go.png")
  &-gradle
    background-image url("./images/file_type_gradle.png")
  &-graphviz
    background-image url("./images/file_type_graphviz.png")
  &-groovy
    background-image url("./images/file_type_groovy.png")
  &-gruntfile
    background-image url("./images/file_type_gruntfile.png")
  &-gulpfile
    background-image url("./images/file_type_gulpfile.png")
  &-haml
    background-image url("./images/file_type_haml.png")
  &-haskell
    background-image url("./images/file_type_haskell.png")
  &-haxe
    background-image url("./images/file_type_haxe.png")
  &-html
    background-image url("./images/file_type_html.png")
  &-image
    background-image url("./images/file_type_image.png")
  &-java
    background-image url("./images/file_type_java.png")
  &-js
    background-image url("./images/file_type_js.png")
  &-json
    background-image url("./images/file_type_json.png")
  &-jsp
    background-image url("./images/file_type_jsp.png")
  &-jsx
    background-image url("./images/file_type_jsx.png")
  &-julia
    background-image url("./images/file_type_julia.png")
  &-less
    background-image url("./images/file_type_less.png")
  &-license
    background-image url("./images/file_type_license.png")
  &-liquid
    background-image url("./images/file_type_liquid.png")
  &-lisp
    background-image url("./images/file_type_lisp.png")
  &-lock
    background-image url("./images/file_type_lock.png")
  &-log
    background-image url("./images/file_type_log.png")
  &-lsl
    background-image url("./images/file_type_lsl.png")
  &-lua
    background-image url("./images/file_type_lua.png")
  &-markdown
    background-image url("./images/file_type_markdown.png")
  &-markup
    background-image url("./images/file_type_markup.png")
  &-matlab
    background-image url("./images/file_type_matlab.png")
  &-maya
    background-image url("./images/file_type_maya.png")
  &-mustache
    background-image url("./images/file_type_mustache.png")
  &-nginx
    background-image url("./images/file_type_nginx.png")
  &-nodejs
    background-image url("./images/file_type_nodejs.png")
  &-note
    background-image url("./images/file_type_note.png")
  &-npm
    background-image url("./images/file_type_npm.png")
  &-nsis
    background-image url("./images/file_type_nsis.png")
  &-ocaml
    background-image url("./images/file_type_ocaml.png")
  &-pdf
    background-image url("./images/file_type_pdf.png")
  &-perl
    background-image url("./images/file_type_perl.png")
  &-php
    background-image url("./images/file_type_php.png")
  &-plist
    background-image url("./images/file_type_plist.png")
  &-postcss
    background-image url("./images/file_type_postcss.png")
  &-preferences
    background-image url("./images/file_type_preferences.png")
  &-procfile
    background-image url("./images/file_type_procfile.png")
  &-psd
    background-image url("./images/file_type_psd.png")
  &-pug
    background-image url("./images/file_type_pug.png")
  &-puppet
    background-image url("./images/file_type_puppet.png")
  &-python
    background-image url("./images/file_type_python.png")
  &-r
    background-image url("./images/file_type_r.png")
  &-rails
    background-image url("./images/file_type_rails.png")
  &-riot
    background-image url("./images/file_type_riot.png")
  &-ruby
    background-image url("./images/file_type_ruby.png")
  &-rust
    background-image url("./images/file_type_rust.png")
  &-sass
    background-image url("./images/file_type_sass.png")
  &-scala
    background-image url("./images/file_type_scala.png")
  &-scss
    background-image url("./images/file_type_scss.png")
  &-settings
    background-image url("./images/file_type_settings.png")
  &-shell
    background-image url("./images/file_type_shell.png")
  &-sketch
    background-image url("./images/file_type_sketch.png")
  &-slim
    background-image url("./images/file_type_slim.png")
  &-source
    background-image url("./images/file_type_source.png")
  &-sql
    background-image url("./images/file_type_sql.png")
  &-stata
    background-image url("./images/file_type_stata.png")
  &-stylelint
    background-image url("./images/file_type_stylelint.png")
  &-stylus
    background-image url("./images/file_type_stylus.png")
  &-sublime
    background-image url("./images/file_type_sublime.png")
  &-svg
    background-image url("./images/file_type_svg.png")
  &-swift
    background-image url("./images/file_type_swift.png")
  &-tcl
    background-image url("./images/file_type_tcl.png")
  &-tex
    background-image url("./images/file_type_tex.png")
  &-text
    background-image url("./images/file_type_text.png")
  &-textile
    background-image url("./images/file_type_textile.png")
  &-todo
    background-image url("./images/file_type_todo.png")
  &-twig
    background-image url("./images/file_type_twig.png")
  &-typescript
    background-image url("./images/file_type_typescript.png")
  &-vim
    background-image url("./images/file_type_vim.png")
  &-vue
    background-image url("./images/file_type_vue.png")
  &-webpack
    background-image url("./images/file_type_webpack.png")
  &-windows
    background-image url("./images/file_type_windows.png")
  &-yaml
    background-image url("./images/file_type_yaml.png")
  &-yarn
    background-image url("./images/file_type_yarn.png")
