@component-namespace ghp {
  @c options {
    margin: 0;
    padding: 0;
    color: #34495E;
    font-family: "PingFang SC", Verdana, "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;

    @d container {
      size: 640px 280px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @m title {
        text-align: center;
      }

      @m input {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & input {
          width: 70%;
          padding: 8px 12px;
          color: #34495E;
          font-size: 14px;
          line-height: 1.467;
          border: 2px solid #BDC3C7;
          border-radius: 6px;
          box-sizing: border-box;
          transition: border-color .25s;
          &:focus {
            border-color: #1ABC9C;
            outline: none;
          }
        }
      }

      @m button {
        padding: 10px 19px;
        color: #FFF #1ABC9C;
        font-size: 17px;
        line-height: 1.471;
        border: none;
        border-radius: 6px;
        display: block;
        box-sizing: border-box;
        transition: background-color .25s;
        &:hover {
          background-color: #48C9B0;
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
