@component-namespace ghp {
  @c download {
    position: relative;
    top: 3px;
    left: 5px;
    width: 14px;
    height: 14px;
    background: url("./images/download.svg");
    background-size: cover;
    display: inline-block;
  }
}
