@component-namespace ghp {
  @c icon {
    position: relative 1px 0 0 0;
    size: 14px;
    background-size: cover;
    display: block;
  }
}

@component-namespace icon {
  @c actionscript {
    background-image: url("../icons/file_type_actionscript.png");
  }
  @c ai {
    background-image: url("../icons/file_type_ai.png");
  }
  @c angular {
    background-image: url("../icons/file_type_angular.png");
  }
  @c applescript {
    background-image: url("../icons/file_type_applescript.png");
  }
  @c archvie {
    background-image: url("../icons/file_type_archive.png");
  }
  @c babel {
    background-image: url("../icons/file_type_babel.png");
  }
  @c binary {
    background-image: url("../icons/file_type_binary.png");
  }
  @c blade {
    background-image: url("../icons/file_type_blade.png");
  }
  @c bower {
    background-image: url("../icons/file_type_bower.png");
  }
  @c c {
    background-image: url("../icons/file_type_c.png");
  }
  @c cf {
    background-image: url("../icons/file_type_cf.png");
  }
  @c circleci {
    background-image: url("../icons/file_type_circleci.png");
  }
  @c clojure {
    background-image: url("../icons/file_type_clojure.png");
  }
  @c coffeescript {
    background-image: url("../icons/file_type_coffeescript.png");
  }
  @c composer {
    background-image: url("../icons/file_type_composer.png");
  }
  @c cpp {
    background-image: url("../icons/file_type_cpp.png");
  }
  @c csharp {
    background-image: url("../icons/file_type_csharp.png");
  }
  @c css {
    background-image: url("../icons/file_type_css.png");
  }
  @c csv {
    background-image: url("../icons/file_type_csv.png");
  }
  @c default {
    background-image: url("../icons/file_type_default.png");
  }
  @c dlang {
    background-image: url("../icons/file_type_dlang.png");
  }
  @c docker {
    background-image: url("../icons/file_type_docker.png");
  }
  @c dotnet {
    background-image: url("../icons/file_type_dotnet.png");
  }
  @c editorconfig {
    background-image: url("../icons/file_type_editorconfig.png");
  }
  @c elm {
    background-image: url("../icons/file_type_elm.png");
  }
  @c erlang {
    background-image: url("../icons/file_type_erlang.png");
  }
  @c eslint {
    background-image: url("../icons/file_type_eslint.png");
  }
  @c ex {
    background-image: url("../icons/file_type_ex.png");
  }
  @c font {
    background-image: url("../icons/file_type_font.png");
  }
  @c git {
    background-image: url("../icons/file_type_git.png");
  }
  @c go {
    background-image: url("../icons/file_type_go.png");
  }
  @c gradle {
    background-image: url("../icons/file_type_gradle.png");
  }
  @c graphviz {
    background-image: url("../icons/file_type_graphviz.png");
  }
  @c groovy {
    background-image: url("../icons/file_type_groovy.png");
  }
  @c gruntfile {
    background-image: url("../icons/file_type_gruntfile.png");
  }
  @c gulpfile {
    background-image: url("../icons/file_type_gulpfile.png");
  }
  @c haml {
    background-image: url("../icons/file_type_haml.png");
  }
  @c haskell {
    background-image: url("../icons/file_type_haskell.png");
  }
  @c haxe {
    background-image: url("../icons/file_type_haxe.png");
  }
  @c html {
    background-image: url("../icons/file_type_html.png");
  }
  @c image {
    background-image: url("../icons/file_type_image.png");
  }
  @c java {
    background-image: url("../icons/file_type_java.png");
  }
  @c js {
    background-image: url("../icons/file_type_js.png");
  }
  @c json {
    background-image: url("../icons/file_type_json.png");
  }
  @c jsp {
    background-image: url("../icons/file_type_jsp.png");
  }
  @c jsx {
    background-image: url("../icons/file_type_jsx.png");
  }
  @c julia {
    background-image: url("../icons/file_type_julia.png");
  }
  @c less {
    background-image: url("../icons/file_type_less.png");
  }
  @c license {
    background-image: url("../icons/file_type_license.png");
  }
  @c liquid {
    background-image: url("../icons/file_type_liquid.png");
  }
  @c lisp {
    background-image: url("../icons/file_type_lisp.png");
  }
  @c lock {
    background-image: url("../icons/file_type_lock.png");
  }
  @c log {
    background-image: url("../icons/file_type_log.png");
  }
  @c lsl {
    background-image: url("../icons/file_type_lsl.png");
  }
  @c lua {
    background-image: url("../icons/file_type_lua.png");
  }
  @c markdown {
    background-image: url("../icons/file_type_markdown.png");
  }
  @c markup {
    background-image: url("../icons/file_type_markup.png");
  }
  @c matlab {
    background-image: url("../icons/file_type_matlab.png");
  }
  @c maya {
    background-image: url("../icons/file_type_maya.png");
  }
  @c mustache {
    background-image: url("../icons/file_type_mustache.png");
  }
  @c nginx {
    background-image: url("../icons/file_type_nginx.png");
  }
  @c nodejs {
    background-image: url("../icons/file_type_nodejs.png");
  }
  @c note {
    background-image: url("../icons/file_type_note.png");
  }
  @c npm {
    background-image: url("../icons/file_type_npm.png");
  }
  @c nsis {
    background-image: url("../icons/file_type_nsis.png");
  }
  @c ocaml {
    background-image: url("../icons/file_type_ocaml.png");
  }
  @c pdf {
    background-image: url("../icons/file_type_pdf.png");
  }
  @c perl {
    background-image: url("../icons/file_type_perl.png");
  }
  @c php {
    background-image: url("../icons/file_type_php.png");
  }
  @c plist {
    background-image: url("../icons/file_type_plist.png");
  }
  @c postcss {
    background-image: url("../icons/file_type_postcss.png");
  }
  @c preferences {
    background-image: url("../icons/file_type_preferences.png");
  }
  @c procfile {
    background-image: url("../icons/file_type_procfile.png");
  }
  @c psd {
    background-image: url("../icons/file_type_psd.png");
  }
  @c pug {
    background-image: url("../icons/file_type_pug.png");
  }
  @c puppet {
    background-image: url("../icons/file_type_puppet.png");
  }
  @c python {
    background-image: url("../icons/file_type_python.png");
  }
  @c r {
    background-image: url("../icons/file_type_r.png");
  }
  @c rails {
    background-image: url("../icons/file_type_rails.png");
  }
  @c riot {
    background-image: url("../icons/file_type_riot.png");
  }
  @c ruby {
    background-image: url("../icons/file_type_ruby.png");
  }
  @c rust {
    background-image: url("../icons/file_type_rust.png");
  }
  @c sass {
    background-image: url("../icons/file_type_sass.png");
  }
  @c scala {
    background-image: url("../icons/file_type_scala.png");
  }
  @c scss {
    background-image: url("../icons/file_type_scss.png");
  }
  @c settings {
    background-image: url("../icons/file_type_settings.png");
  }
  @c shell {
    background-image: url("../icons/file_type_shell.png");
  }
  @c sketch {
    background-image: url("../icons/file_type_sketch.png");
  }
  @c slim {
    background-image: url("../icons/file_type_slim.png");
  }
  @c source {
    background-image: url("../icons/file_type_source.png");
  }
  @c sql {
    background-image: url("../icons/file_type_sql.png");
  }
  @c stata {
    background-image: url("../icons/file_type_stata.png");
  }
  @c stylelint {
    background-image: url("../icons/file_type_stylelint.png");
  }
  @c stylus {
    background-image: url("../icons/file_type_stylus.png");
  }
  @c sublime {
    background-image: url("../icons/file_type_sublime.png");
  }
  @c svg {
    background-image: url("../icons/file_type_svg.png");
  }
  @c swift {
    background-image: url("../icons/file_type_swift.png");
  }
  @c tcl {
    background-image: url("../icons/file_type_tcl.png");
  }
  @c tex {
    background-image: url("../icons/file_type_tex.png");
  }
  @c text {
    background-image: url("../icons/file_type_text.png");
  }
  @c textile {
    background-image: url("../icons/file_type_textile.png");
  }
  @c todo {
    background-image: url("../icons/file_type_todo.png");
  }
  @c twig {
    background-image: url("../icons/file_type_twig.png");
  }
  @c typescript {
    background-image: url("../icons/file_type_typescript.png");
  }
  @c vim {
    background-image: url("../icons/file_type_vim.png");
  }
  @c vue {
    background-image: url("../icons/file_type_vue.png");
  }
  @c webpack {
    background-image: url("../icons/file_type_webpack.png");
  }
  @c windows {
    background-image: url("../icons/file_type_windows.png");
  }
  @c yaml {
    background-image: url("../icons/file_type_yaml.png");
  }
  @c yarn {
    background-image: url("../icons/file_type_yarn.png");
  }
}
