@import "./icons.css";

@component-namespace ghp {
  @c nickname {
    @d main {
      position: relative;
      top: -4px;
      margin-left: 2px;
      color: #666;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 24px;
    }

    @d list {
      margin-left: 2px;
      color: rgb(102, 102, 102);
      font-weight: 300;
    }
  }
}
